
table.alterator-listbox tbody tr.odd td {
        background-color:#eee8ff;
}

table.alterator-listbox tbody tr.even td {
        background-color:#ffffff;
}

table.alterator-listbox tbody tr.M td, span.M {
        background-color:#ff88ff;
}

table.alterator-listbox tbody tr.M.selected td, table.alterator-listbox tbody tr.M.odd.selected tr.M.even.selected td {
        background-color:#ff88ff;
        border-top:  #ffffff solid 1px;
}

table.alterator-listbox tbody tr.A td, span.A {
        background-color:#88ff88;
}

table.alterator-listbox tbody tr.A.selected td, table.alterator-listbox tbody tr.A.odd.selected tr.A.even.selected td {
        background-color:#88ff88;
        border-top:  #ffffff solid 1px;
}

table.alterator-listbox tbody tr.D td, span.D {
        background-color:#880000;
	color:#ffffff;
}

table.alterator-listbox tbody tr.D.selected td, table.alterator-listbox tbody tr.D.odd.selected tr.D.even.selected td {
        background-color:#880000;
        border-top:  #ffffff solid 1px;
}
