[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=X-Alterator-VCS
Icon=etcgit
Terminal=false
Name=Configuration profiles
X-Alterator-URI=/etcgit
X-Alterator-UI=html
X-Alterator-Help=etcgit
Name[ru]=Профили конфигурации
